services:
  hackathon-app:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - .:/app
    ports:
      - "3001:3001"
      - "5173:5173"
    command: sh -c "npm install && npm start"
